.box-demo{
    border: 1px solid #000;
    background-color:#e0e0e0;
    /* box-sizing: border-box; */
    padding: 20px;
    margin: 20px;

}
.box-demo-2{
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
    
}