.main-nav {
    background-color: aqua;
    padding: 10px;
}

.main-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main-nav > ul > li {
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
}

.main-nav ul li a {
    text-decoration: none;
    color: black;
    line-height: 3rem;
}

.main-nav ul li a::before {
    content: "*";
    color: rgb(180, 17, 17);
    margin-right: 8px;
}

.main-nav ul > li + li {
    color: rgb(146, 16, 118);
}

.submenu {
    display: none;
    position: absolute;
    padding: 5px;
    background-color: lightgrey;
    list-style-type: none;
}

.main-nav ul > li:hover .submenu {
    display: block;
    position: absolute;
    top: 3rem;
}
