h1{
    color: #333333;
    font-size: 28px;
    font-weight: bold;
}
.article-container{
    background-color:#f9f3e4;
    text-align: justify;
    padding: 20px;
}
.article-meta{
    color:rgb(155, 153, 153);
    font-weight: normal;
    font-style: italic;
    text-decoration: none;
    font-size: 14px;
}
p{
    font-size: 18px;
    line-height: 1.6;
}
body{
    font-family:Georgia, serif ;
}